# Python, JavaScript 環境向けの .gitignore テンプレートは、それぞれ対象となるディレクトリにて管理しています

# ファイル名に.local.が含まれるファイルを無視します
# メモ書きなどのローカルでのみ利用するファイルを無視することに使ってください
# 例: `test-1.local.png`, `メモ.local.txt`
*.local.*

# docker-compose で利用する .env ファイルを無視します
.env

# Googleドキュメントにて共有するため、除外する
copilot-instructions.md
